<br/><br/>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<!--Sidebar content-->

			<p>
				Search: <input ng-model="$ctrl.query" />
			</p>
			
			<p>
				Sort by:
				<select ng-model="$ctrl.orderProp">
					<option value="title">Title</option>
					<option value="media">Media</option>
					<option value="username">User</option>
				</select>
			</p>

			<p>
				Total number of movies: {{$ctrl.movies.length}}
			</p>
		</div>
		
		<div class="col-md-10">
			<!--Body content-->
			<ul class="phones">
				<li ng-repeat="movie in $ctrl.movies | filter:$ctrl.query | orderBy:$ctrl.orderProp">
					<span>{{movie.title}}</span>
					<p>{{movie.media}}<br/>
					{{movie.username}}</p>
				</li>
			</ul>
		</div>
		
	</div>
</div>
